.node{
  stroke-width: 4px;
}

* {
  font-family: sans-serif;
  dominant-baseline: central;
}

.node text {
  fill: #808080;
}

#start_button {
  height: 600px;
  padding-top: 300px;
  vertical-align: middle;
  font-size: 32pt;
}